/****** Object:  StoredProcedure [dbo].[SP_PROC_RecalculaCartillas]    Script Date: 2018/05/31 14:26:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_PROC_RecalculaCartillas]  
AS  
BEGIN   
SET NOCOUNT ON;  

	--Actualizo puntos en CartillasUsuario desde FN_PuntosCartillas 
	UPDATE cu set puntos = pc.total  
	FROM  FN_PuntosCartillas() as pc   
	INNER JOIN CartillasUsuario as cu  ON cu.id = pc.idcartillaUsuario  

	--ACTUALIZO Los puntos totales de los usuarios
	
	UPDATE usr set puntos = pu.Puntostotales, posicion = pu.posicion
	FROM(
		SELECT idUsuario, puntosTotales, 0+ ROW_NUMBER() OVER (ORDER BY puntosTotales DESC, idUsuario) as posicion
		FROM [FN_PuntosUsuarios]()
	) pu INNER JOIN usr_usuarios as usr  ON usr.id = pu.idUsuario
	
		
	--ranking, para dar un badge
	Update usr_usuarios set ranking = 1
	Update usr_usuarios set ranking = 2 where posicion >0 

	DECLARE @cuenta int;
	Select @cuenta =  count(*) from usr_usuarios where posicion  is not null and posicion > 0
	print @cuenta

	--select ranking, posicion, (cast(posicion as decimal(10,4)) /139 *100 ) as percentil from usr_usuarios  where posicion  is not null and posicion >0 order by posicion

	update usr_usuarios set ranking = 3 where (cast(posicion as decimal(10,4))/@cuenta*100) <= 75 AND posicion  is not null and posicion > 0 
	update usr_usuarios set ranking = 4 where (cast(posicion as decimal(10,4))/@cuenta*100) <= 50 AND posicion  is not null and posicion > 0
	update usr_usuarios set ranking = 5 where (cast(posicion as decimal(10,4))/@cuenta*100) <= 25 AND posicion  is not null and posicion > 0
	update usr_usuarios set ranking = 6 where (cast(posicion as decimal(10,4))/@cuenta*100) <= 8 AND  posicion  is not null and posicion > 0

	update usr_usuarios set ranking = 7 where posicion = 1


	----------

		--ACTUALIZO Los puntos totales de los bandos
	
	UPDATE bd set puntos = pb.Puntostotales, posicion = pb.posicion, miembros = pb.usuarios
	FROM(
		SELECT idBando, usuarios, puntosTotales, 0+ ROW_NUMBER() OVER (ORDER BY puntosTotales/usuarios DESC, idBando) as posicion
		FROM [FN_PuntosBandos]()
	) pb INNER JOIN bandos as bd  ON bd.id = pb.idBando
		
  
	--actualizo posiciones en CartillasUsuario basado en posición
	DECLARE @idC int;

	DECLARE cartillasCursor CURSOR FOR   
	select id from cartillas;  

	OPEN cartillasCursor  

	FETCH NEXT FROM cartillasCursor   
	INTO @idC  

	WHILE @@FETCH_STATUS = 0  
	BEGIN  
	print @idc
		
		UPDATE cu set cu.posicionResultado = cu.ord, cu.posicionFinal = cu.fin  
	 FROM(  
	  SELECT posicionResultado, posicionFinal, 0+ ROW_NUMBER() OVER (ORDER BY puntos DESC, posicionCierre) as fin,  0+ ROW_NUMBER() OVER (ORDER BY puntos DESC) as ord  
	  FROM CartillasUsuario where idCartilla = @idC and estasellada=1) cu   

	  FETCH NEXT FROM cartillasCursor   
	  INTO @idC	
	END   
	CLOSE cartillasCursor;  
	DEALLOCATE cartillasCursor;     
END 

