/****** Object:  StoredProcedure [dbo].[SP_PronosticosCartillaUsuario]    Script Date: 2018/06/01 15:07:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_PronosticosCartillaUsuario]
	@idCartillaUsuario int

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SELECT        TOP (100) PERCENT pr.id, p.idEquipo1, p.idEquipo2, p.id AS idPartido, p.nombre AS partido, p.descripcion, p.fecha, p.idGrupo, p.esClasificacion,
						det.descripcion AS detalles, det.grupo, 
                         ePr1.nombre AS equipoPr1, ePr2.nombre AS equipoPr2, 
						 pr.idEquipo1 AS idEquipoPr1, pr.idEquipo2 AS idEquipoPr2, pr.scoreP1, pr.scoreP2, pr.idEquipoClasifica,
						 e1.nombre AS equipo1, e2.nombre AS equipo2, p.score1, p.score2, pr.puntos, p.ubicacion

FROM            dbo.pronosticos AS pr INNER JOIN
                         dbo.equipos AS ePr1 ON pr.idEquipo1 = ePr1.id INNER JOIN
                         dbo.equipos AS ePr2 ON pr.idEquipo2 = ePr2.id INNER JOIN
                         dbo.PartidosCartilla AS det INNER JOIN
                         dbo.partidos AS p ON det.idPartido = p.id ON pr.idPartidoCartilla = det.id left JOIN
                         dbo.equipos AS e1 ON p.idEquipo1 = e1.id left JOIN
                         dbo.equipos AS e2 ON p.idEquipo2 = e2.id
WHERE        (pr.idCartillaUsuario = @idCartillaUsuario) AND pr.idEquipo1 >1 AND pr.idEquipo2 >1
ORDER BY p.idgrupo,  p.fecha


END
