<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings xdt:Transform="Replace">
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="SITEROOT" value="http://www.quegolazo.com.ec" />
    <add key="MailDe" value="info@quegolazo.com.ec " />
    <add key="MailCopias" value="iviteri@gmail.com  " />
    <add key="MailSender" value="Que Golazo!" />
    <add key="SMTP" value="smtp.sendgrid.net" />
    <add key="SMTP_usuario" value="azure_98451aef02b95b9c0d868d76d9542c92@azure.com" />
    <add key="SMTP_clave" value="Futbol.Giro1" />
  </appSettings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <connectionStrings>
    <add name="DataBase" connectionString="Data Source=sqlskor.database.windows.net;Initial Catalog=sqlskor;User ID=sqlSkor;Password=Pronosticos!007;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient pooling = false" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="skorEntities" connectionString="metadata=res://*/Models.SkorData.csdl|res://*/Models.SkorData.ssdl|res://*/Models.SkorData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sqlskor.database.windows.net;initial catalog=sqlskor;user id=sqlSkor;password=Pronosticos!007;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

    <!--<add name="DataBase" connectionString="Data Source=184.168.194.78;Initial Catalog=skor;User ID=crmMYL;Password=vertice!MYL7;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient pooling = false" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="skorEntities" connectionString="metadata=res://*/Models.SkorData.csdl|res://*/Models.SkorData.ssdl|res://*/Models.SkorData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=184.168.194.78;initial catalog=skor;user id=crmMYL;password=vertice!MYL7;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>-->

  </connectionStrings>
</configuration>