<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="SITEROOT" value="http://localhost:60351" />

    <add key="MailDe" value="sigrif.debug@gmail.com" />
    <add key="MailCopias" value="" />
    <add key="MailSender" value="Que Golazo!" />

    <add key="MailDebug" value="omrlink@gmail.com" />
    <add key="SMTP_puerto" value="587" />
    <add key="SMTP_ssl" value="true" />
    <add key="SMTP" value="smtp.gmail.com" />        
    <add key="SMTP_usuario" value="sigrif.debug@gmail.com" />
    <add key="SMTP_clave" value="s1gr1f2015" />
    
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<connectionStrings>
	<add name="DataBase" connectionString="Data Source=192.168.100.99;Initial Catalog=skor-2021-10-6-12-5;User ID=sa;Password=adstecnologia2022;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient pooling = false" />
	<!--<add name="DataBase" connectionString="Data Source=skordev.database.windows.net;Initial Catalog=skor_dev;User ID=vertice;Password=v3rt1c3.1234;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient pooling = false" />-->
  <!-- <add name="DataBase" connectionString="Data Source=ANONYMOUS;Initial Catalog=skor-2021-10-6-12-5;User ID=sa;Password=12345678;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient pooling = false" /> -->
  <!-- old desarrollo -->
  <!--<add name="skorEntities" connectionString="metadata=res://*/Models.SkorData.csdl|res://*/Models.SkorData.ssdl|res://*/Models.SkorData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=skordev.database.windows.net;initial catalog=skor_dev;user id=vertice;password=v3rt1c3.1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
<!--desarrollo cazz-->
<!--<add name="skorEntities" connectionString="metadata=res://*/Models.SkorData.csdl|res://*/Models.SkorData.ssdl|res://*/Models.SkorData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ANONYMOUS;initial catalog=skor-2021-10-6-12-5;user id=sa;password=12345678;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
<!--desarrollo cazz-->
<!--<add name="ApuestasEntities" connectionString="metadata=res://*/Models.ApuestasModel.csdl|res://*/Models.ApuestasModel.ssdl|res://*/Models.ApuestasModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ANONYMOUS;initial catalog=skor-2021-10-6-12-5;user id=sa;password=12345678;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

<!--desarrollo mv64-->
<add name="skorEntities" connectionString="metadata=res://*/Models.SkorData.csdl|res://*/Models.SkorData.ssdl|res://*/Models.SkorData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.100.99;initial catalog=skor-2021-10-6-12-5;user id=sa;password=adstecnologia2022;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

<add name="ApuestasEntities" connectionString="metadata=res://*/Models.ApuestasModel.csdl|res://*/Models.ApuestasModel.ssdl|res://*/Models.ApuestasModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.100.99;initial catalog=skor-2021-10-6-12-5;user id=sa;password=adstecnologia2022;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
<!--<add name="skorEntities" connectionString="metadata=res://*/Models.SkorData.csdl|res://*/Models.SkorData.ssdl|res://*/Models.SkorData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.100.99;initial catalog=skor-2021-10-6-12-5;user id=sa;password=adstecnologia2022;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
<!--<add name="ApuestasEntities" connectionString="metadata=res://*/Models.ApuestasModel.csdl|res://*/Models.ApuestasModel.ssdl|res://*/Models.ApuestasModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.100.99;initial catalog=skor-2021-10-6-12-5;user id=sa;password=adstecnologia2022;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

</connectionStrings>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="skor a QG" stopProcessing="true">
          <match url="(.*)" ignoreCase="true" />
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTP_HOST}" pattern="^skor.ec$" />
            <add input="{HTTP_HOST}" pattern="^quegolazo.com.ec$" />
          </conditions>
          <action type="Redirect" url="http://www.quegolazo.com.ec/{R:0}" appendQueryString="true" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>