
@{
	ViewBag.Title = "MisCatillas";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MisCatillas</h2>


@section js{
	<script src="~/Scripts/jquery.countdown.min.js"></script>
	<script src="~/Scripts/skor/Inicio/Index.cshtml.js?ver=1.0.0"></script>
	<script src="~/Content/js/gInicio.js"></script>
	<script src="https://pay.payphonetodoesposible.com/api/button/js?appId=ee6c47pA1UiGpWVKnsy3w"></script>
	<script>
		
	</script>

}
