
@{
    ViewBag.Title = "Patrocinios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="page_title">Patrocinios</h2>

<div class="page_single layout_fullwidth_padding"  style="text-align:justify;">
    <p class="fs-6  fw-normal text-center fst-italic">¡Qué Golazo! es un juego de pronóstico <b>GRATUITO y ENTRETENIDO</b> que te hará vivir intensamente la emoción de cada partido de fútbol.</p>
    <p class="fst-normal">Nuestro enfoque principal hasta el 30 de diciembre será en el Mundial de Fútbol 2022 y luego de esta fecha nos concentraremos en los distintos torneos nacionales e internacionales de fútbol.</p>

    <p class=" fw-bold ">5 beneficios para tu marca al patrocinar ¡QuéGolazo! en este mundial de fútbol 2018</p>

    <p class="fst-italic">¡El fútbol es un juego emocional y las marcas se benefician al generar emociones en sus audiencias.</p>
    <p>
        <ol style="text-align:justify;">
            <li class=" fw-normal lh-base mb-2 text-justify"><b>Refuerza el posicionamiento y visibilidad de tu marca en un medio fresco.</b> El patrocinio es un instrumento poderoso de marketing que aporta al posicionamiento e incrementa el valor de marca. ¡QuéGolazo! busca transferir las emociones del fútbol y de pronosticar un partido a tu marca: euforia, paciencia, alegría, miedo, suspenso, tristeza, felicidad, energía y hasta rabia. Además te ofrece la exclusividad de la categoría y presencia en diferentes medios para beneficiar solo a tu marca y no a la de tu competencia.</li>
            <li class=" fw-normal lh-base mb-2 text-justify"><b>Te permite un gran y variado alcance psicodemográfico.</b> La Copa Mundial tiene gran alcance al llegar a distintas clases socioeconómicas, países, culturas, edades, razas y género. El mundial de fútbol llega a más de 200 países en donde lo ven cientos de millones de personas a nivel mundial. La FIFA realizó un estudio en 15 países que demuestra que el mundial atrae no solo a los aficionados al fútbol o al deporte sino que va mucho más allá. Solo en la población de estos 15 países, se detectó un 64% de aficionados a la copa mundial (979 millones de personas).</li>
            <li class=" fw-normal lh-base mb-2 text-justify"><b>Aumenta la frecuencia de llegada a tu audiencia.</b> La naturaleza de ¡QuéGolazo!, un sitio de pronósticos de marcadores de fútbol, hace que una misma persona revise varias veces al día sus predicciones y esté expuesto a tu marca. Esto va a reforzar la estratégica publicitaria de recordación de marca.</li>
            <li class=" fw-normal lh-base mb-2 text-justify"><b>Refuerza tu estrategia de contenido en un nuevo medio digital de entretenimiento.</b> Es común que la mayoría de la publicidad que viene directamente de la misma marca, sea rechazada por la audiencia. Esto no ocurre en un sitio de un tercero que ofrece un beneficio de valor agregado no intrusivo como es el entretenimiento.</li>
            <li class=" fw-normal lh-base mb-2 text-justify"><b>Incrementa la lealtad de tu marca.</b> La presencia de tu marca en medios digitales enfocados en el entretenimiento hace que el consumidor genere una conexión emocional positiva. Así mismo es vital revisar el retorno de la inversión en los diferentes medios publicitarios utilizados y analizar si hace falta inyectar más fuerza a los medios digitales que ayuden a alcanzar los objetivos. En EEUU, de cada 100 dólares, 34 se van a medios digitales (eMarketer, 2018).</li>
            
        </ol>
    </p>
    <p>Contáctanos: <a href="mailto:info@quegolazo.com.ec" class="external linkBlue">info@quegolazo.com.ec </a></p>



</div>