
@{
	ViewBag.Title = "Ejemplo";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ejemplo</h2>

@section js{
	<script src="~/Scripts/jquery.countdown.min.js"></script>
	<script src="~/Scripts/skor/Inicio/Index.cshtml.js?ver=1.0.0"></script>
}