/****** Object:  UserDefinedFunction [dbo].[FN_PuntosUsuarios]    Script Date: 2018/05/29 10:28:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: Ivan
-- Description:	Recalcula puntos totales de los usuarios
-- DETALLES: No traigo cartillas 1 y 2 porque eran pruebas, activas=1 porque las que no son publicas no deben sumar.
-- TODO: Filtrar cartillas que hayan cambiado
-- 
-- =============================================
ALTER FUNCTION [dbo].[FN_PuntosUsuarios]
(	
	
)
RETURNS TABLE 
AS
RETURN 
(
SELECT         idUsuario, SUM(puntos) AS puntosTotales
FROM            dbo.CartillasUsuario inner join cartillas on Cartillas.id= CartillasUsuario.idCartilla
WHERE        (estaSellada = 1) AND (idCartilla > 2) AND (NOT (puntos IS NULL)) AND Cartillas.estaActiva = 1
GROUP BY idUsuario

)

