@{
    ViewBag.Title = "Acerca de";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2 class="page_title">¡Qué Golazo!</h2>

<div class="page_single layout_fullwidth_padding">

    <p>¡Qué Golazo! es una plataforma de marketing digital que tiene el único objetivo de ENTRETENER a los seguidores de una determinada marca a través de una cartilla de pronósticos deportivos en la que los eruditos del deporte podrán demostrar sus conocimientos y ganar premios gracias a esto.</p>

    <p>Bajo ningún concepto se puede vincular a ¡QuéGolazo! con objetivos de apuestas o intercambios de dinero por concepto de las predicciones que aquí se realicen.</p>

    <p>¡QuéGolazo! es responsable únicamente de los premios que como marca ofreceremos y que serán promovidos  exclusivamente través de nuestras propias redes sociales. El cumplimiento de premios o beneficios que sean ofrecidos por nuestras marcas auspiciantes son responsabilidad exclusiva de las mismas por lo que ¡QuéGolazo! no tiene responsabilidad de ningún tipo sobre lo que las mismas ofrezcan a través de sus medios de comunicación.</p>

    <p>Contáctanos: <a href="mailto:info@quegolazo.com.ec" class="external linkBlue">info@quegolazo.com.ec </a></p>



</div>



<div class="row" style="margin-top:30px;">
    <div class="col-100 centrado">
        <p style=" text-align:center;">Desarrollado por <a class="external linkBlue" href="http://www.vertice.com.ec">Vértice</a></p>
    </div>
</div>