@{
    ViewBag.Title = "Acerca de";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2 class="page_title">¡Qué Golazo!</h2>

<div class="page_single layout_fullwidth_padding"  style="text-align:justify;">

    <p class="text-justify">¡Qué Golazo! es una plataforma de marketing digital que tiene el único objetivo de ENTRETENER a los seguidores de una determinada marca a través de una cartilla de pronósticos deportivos en la que los eruditos del deporte podrán demostrar sus conocimientos y ganar premios gracias a esto.</p>

    <p class="text-justify">Bajo ningún concepto se puede vincular a ¡QuéGolazo! con objetivos de apuestas o intercambios de dinero por concepto de las predicciones que aquí se realicen.</p>
    <p class="text-justify">
        En esta página cada jugador puede participar en los juegos que estén abiertos al público por cada marca auspiciante, o jugar en los que ha sido invitado a hacerlo uniéndose usando la invitación enviada.
        Para poder participar de cada juego, es necesario registrarse como usuario y hacer el pago de $4 que le habilitan para pronosticar las cartillas que se promuevan cada mes dentro de un mismo juego.
        En caso de desear participar de otro juego, es posible hacerlo siempre y cuando sea un juego abierto al público o con la debida invitación, y haciendo el pago de los $4 respectivos.
    </p>
    <p class="text-justify">¡QuéGolazo! es responsable únicamente de los premios que como marca ofreceremos y que serán promovidos exclusivamente través de nuestras propias redes sociales. El cumplimiento de premios o beneficios que sean ofrecidos por nuestras marcas auspiciantes son responsabilidad exclusiva de las mismas por lo que <b class="text-danger h5 fw-normal">¡Qué Golazo!</b> no tiene responsabilidad de ningún tipo sobre lo que las mismas ofrezcan a través de sus medios de comunicación. </p>

    <p class="text-justify">Contáctanos: <a href="mailto:info@quegolazo.com.ec" class="external linkBlue">info@quegolazo.com.ec </a></p>



</div>



<div class="row" style="margin-top:30px;">
    <div class="col-100 centrado">
        
    </div>
</div>