
@{
    ViewBag.Title = "Como jugar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="page_title">Como jugar ¡Qué Golazo!</h2>

<div class="page_single layout_fullwidth_padding">

    <p>En ¡Qué Golazo! pronostica el resultado de los partidos de fútbol y gana puntos.</p>


    <p>Cada partido se califica así:</p><br />
    <p>Ejemplo, un partido que termina  3 - 2</p>
    <p>
        <table style="margin:0 auto;">
            <tr><th>PRONOSTICO</th><th>CASO</th><th>PUNTOS</th></tr>            
            <tr><td class="centrado">3-2</td><td>Aciertas al marcador</td><td class="centrado">3</td></tr>
            <tr><td class="centrado">1-0</td><td>Aciertas al gol diferencia</td><td class="centrado">2</td></tr>
            <tr><td class="centrado">2-0</td><td>Aciertas quien gana (o empate)</td><td class="centrado">1</td></tr>
            <tr><td class="centrado">1-1 / 1-2</td><td>No aciertas</td><td class="centrado">0</td></tr>
        </table>
    </p>

    <p>La cartilla acumula el puntaje de los partidos</p>

@*Crea tu propia grupo de amigos para pronosticar.
Demuestra a tus amigos tu nivel de pronosticar: amateur, semi-professional, profesional, de clase mundial, legendario.</p>*@

    <p></p>

    <p>Contáctanos: <a href="mailto:info@quegolazo.com.ec" class="external linkBlue">info@quegolazo.com.ec </a></p>
</div>

